@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    color: #333333 !important;
    font-size: 18px;
}

.bg-default{
    background-color: #337ab7 !important;
}

.color-default{
    color: #337ab7 !important;
}

#header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 1px 3px #ddd;
}

.box-empty {
    display: block;
    width: 100%;
    height: 105px;
} 

.font-movies {
    color: #337ab7 !important;
    font-size: 18px;
    line-height: 27px;
}

.ant-tabs-tab-btn {
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    font-weight: 400 !important;
}

.text-navigation {
    font-size: large;
    font-weight: bold;
    color: #337ab7 !important;
}

.btn-2,
.btn-2:hover {
    background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
    color: #fff;
}

.image-container {
    overflow: hidden;
    display: inline-block;
}

.image-movie {
    transition: transform 0.5s;
}
 
.image-container:hover .image-movie {
    transform: scale(1.2); 
}

.time-box:hover .bg-default{
    background-color: #2086df !important;
}